html, body { height: 100%;}
.wrap { min-height: 100%; height: auto; margin: 0 auto -60px; padding: 0 0 60px;}
.wrap > .container { padding: 70px 15px 20px;}
.footer { height: 60px; background-color: #f5f5f5; border-top: 1px solid #ddd; padding-top: 20px;}
.jumbotron { text-align: center; background-color: transparent;}
.jumbotron .btn { font-size: 21px; padding: 14px 24px;}
.not-set { color: #c55; font-style: italic;}
/* add sorting icons to gridview sort links */ 
a.asc:after, a.desc:after { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; padding-left: 5px;}
a.asc:after { content: /*"\e113"*/ "\e151";}
a.desc:after { content: /*"\e114"*/ "\e152";}
.sort-numerical a.asc:after { content: "\e153";}
.sort-numerical a.desc:after { content: "\e154";}
.sort-ordinal a.asc:after { content: "\e155";}
.sort-ordinal a.desc:after { content: "\e156";}
.grid-view th { white-space: nowrap;}
.hint-block { display: block; margin-top: 5px; color: #999;}
.error-summary { color: #a94442; background: #fdf7f7; border-left: 3px solid #eed3d7; padding: 10px 20px; margin: 0 0 15px 0;}
/* * Base structure */  /* Move down content because we have a fixed navbar that is 50px tall */ body { padding-top: 50px;}
/* * Global add-ons */  .sub-header { padding-bottom: 10px; border-bottom: 1px solid #eee;}
/* * Top navigation * Hide default border to remove 1px line. */ .navbar-fixed-top { border: 0;}
/* * Sidebar */  /* Hide for mobile, show later */ .sidebar { display: none;}
@media (min-width: 768px) { .sidebar { position: fixed; top: 51px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ background-color: #f5f5f5; border-right: 1px solid #eee;}
}
/* Sidebar navigation */ 
.nav-sidebar { margin-right: -21px; /* 20px padding + 1px border */ margin-bottom: 20px; margin-left: -20px;}
.nav-sidebar > li > a { padding-right: 20px; padding-left: 20px;}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus { color: #fff; background-color: #428bca;}
/* * Main content */  
.main { padding: 20px;}
@media (min-width: 768px) { .main { padding-right: 40px; padding-left: 40px;}
}
.p100w {width:100%}
.main .page-header { margin-top: 0;}
/* * Placeholder dashboard ideas */  .placeholders { margin-bottom: 30px; text-align: center;}
.placeholders h4 { margin-bottom: 0;}
.placeholder { margin-bottom: 20px;}
.placeholder img { display: inline-block; border-radius: 50%;}
.padding_small {padding:0}


/* tags */

div.tagsinput span.tag {  -moz-border-radius:4px; -webkit-border-radius:4px; display: block; float: left; padding: 5px; 
-moz-border-radius:5px; /* FF */
-webkit-border-radius:5px; /* przeglądarki z webkitem (Safari, Chrome itp.) */
-khtml-border-radius:5px; /* przeglądarki typu K-meleon (typowo Linuxowe) */
border-radius:5px; /* pozostałe przeglądarki */
behavior:url(border-radius.htc); /* dodatek dla badzIEwnej przeglądarki */
text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 10px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent
; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

.slider-handle.custom {
background: transparent none;
/* You can customize the handle and set a background image */
}

/* Or display content like unicode characters or fontawesome icons */
.slider-handle.custom::before {
line-height: 20px;
font-size: 20px;
content: '\2605'; /*unicode star character*/
color: #726204;
}

/* Copyright (c) 2003-2013, CKeditor */  
.cke_editable { font-size: 13px;  background-color:#ccc}
.cke_contents_ltr blockquote { padding-left: 20px; padding-right: 8px; border-left-width: 5px; }
.cke_contents_rtl blockquote { padding-left: 8px; padding-right: 20px; border-right-width: 5px; }
img.right { border: 1px solid #ccc; float: right; margin-left: 15px; padding: 5px; }
img.left { border: 1px solid #ccc; float: left; margin-right: 15px; padding: 5px; }
img:hover { opacity: .9; filter: alpha(opacity = 90); }
pre { white-space: pre-wrap; /* CSS 2.1 */ word-wrap: break-word; /* IE7 */ }
.marker { background-color: Yellow; }
.cke_source {
    white-space: pre-wrap !important; background-color:#ccc;
}


/* SQL export to XLS or PDF */
.info, .success, .error { width: 90%; border: 1px solid; margin: 10px AUTO; padding:15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center; }
.info { color: #00529B; text-align: left; background-color: #BDE5F8; background-image: url('../images/info.png'); }
.success { color: #4F8A10; text-align: left; background-color: #DFF2BF; background-image:url('../images/success.png'); }
.error { color: #D8000C; text-align: left; background-color: #FFBABA; background-image: url('../images/error.png'); }

.fancytitle { width: 95%; font-weight: bold; font-size: 22px; text-align: left; }
.fancybox-div { text-align: center;display: none; width: 700px; }
.checkboxes { width: 150px; margin: 0 AUTO; text-align: left; }