html, body { height: 100%; }
h1, h2, h3, h4, h5, h6 { color:#337AB7; font-family: serif;}
h1 { font-size: 26px; }
h2 { font-size: 23px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }

@media screen and (min-width: 640px) {
	header {  height: 175px; background-color: #F8F8F8; }
}

.logo {margin-top:15px}
.navbar-default {font-size:13px}
.date_news {color:#ccc}
.float_left {float:left; margin-bottom: 5px; margin-right: 5px}
.wrap > .container { padding: 70px 15px 20px; }

.jumbotron { text-align: center; background-color: transparent; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.not-set { color: #c55; font-style: italic; }
a.asc:after, a.desc:after { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; padding-left: 5px; }
a.asc:after { content: /*"\e113"*/ "\e151"; }
a.desc:after { content: /*"\e114"*/ "\e152"; }
.sort-numerical a.asc:after { content: "\e153"; }
.sort-numerical a.desc:after { content: "\e154"; }
.sort-ordinal a.asc:after { content: "\e155"; }
.sort-ordinal a.desc:after { content: "\e156"; }
.grid-view th { white-space: nowrap; }
.hint-block { display: block; margin-top: 5px; color: #999; }
.error-summary { color: #a94442; background: #fdf7f7; border-left: 3px solid #eed3d7; padding: 10px 20px; margin: 0 0 15px 0; }
.cleardiv { clear: both;  }
.center {margin: 0 auto;}
.padding-left { padding-left:9px}
.img-thumbnail {
	padding: 5px;
	border: 0px;
}
.dropdown-menu {
	font-size: 13px;
}

#absolute-box {
	position:fixed;
	width:30px;
	top:12%;
	right:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#absolute-box a{ font-size:22px; color:#ccc; }
#absolute-box a:hover{ font-size:26px; color:orange; }

aside img {margin:20px 0}


 /* calendar  */
.hidden { display:none; }
.eventCalendar-wrap { position:relative; overflow:hidden; }
.eventCalendar-wrap .arrow { position:absolute; z-index:5; top:3px; }
.eventCalendar-wrap .prev { left:3px; }
.eventCalendar-wrap .next { right:3px; }
.eventsCalendar-currentTitle .monthTitle { display:block; text-align:center; }
.eventsCalendar-monthWrap { position:absolute; top:0; left:0; z-index:2; }
.eventsCalendar-monthWrap.currentMonth { z-index:1; }
.eventsCalendar-daysList { display:table; width:100%; }
.eventsCalendar-daysList.showAsWeek { display:block; }
.eventsCalendar-daysList li { display:table-cell; }
.eventsCalendar-daysList li.dayWithEvents { background:rgba(0,0,0,0.15); }
.eventsCalendar-daysList li.current { background:rgba(0,0,0,0.35); }
.eventsCalendar-daysList.showAsWeek li { display:block; float:left; width:14.28%; height:20px; }
.eventsCalendar-daysList li a { padding:0; display:block; text-align:center; font-size:8px; min-width:7px; }
.eventsCalendar-loading { display:block; min-width:100px; height:40px; line-height:40px; }
.eventsCalendar-list { position:relative; z-index:1;  }
.eventsCalendar-list.oldEventList { z-index:2; }
.eventsCalendar-subtitle { padding-left:5px; font-weight:bold; font-size:120%; }
.eventCalendar-wrap { border:solid 1px #d3d3d3; box-shadow:0 0 15px #999; border-radius:5px; margin-bottom:20px; background-color:#fff; color:#807E7E; }
.eventCalendar-wrap .arrow { text-decoration:none; color:#fff; padding:0 5px; line-height:28px; top:9px; padding:8px 10px; }
.eventCalendar-wrap .arrow.prev {  }
.eventCalendar-wrap .arrow:hover { opacity:0.7;}
.eventCalendar-wrap .arrow span { height: 0; width: 0; font-size: 0; line-height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid #fff; float:left; text-indent:-5000px; }
.eventCalendar-wrap .arrow.prev span { border-left-width:0; border-right: 6px solid #fff; }
.eventsCalendar-slider { height:80px;}
.eventsCalendar-monthWrap { border-radius:5px; top:10px; left:0px; }
.eventsCalendar-currentTitle { line-height:25px; background-color:#138DA5; outline:1px solid #138DA5; border:1px solid #E3E3E3; border-width:1px 0; }
.eventsCalendar-currentTitle .monthTitle { font-size:110%; text-decoration:none; font-weight:bold; color:#fff; }
.eventsCalendar-daysList { zoom: 1; padding:0; width:100%;  }
.eventsCalendar-daysList.showAsWeek { margin:10px 5px; width:auto;  		border:solid 1px #BCBCBC; border-bottom-width:0; border-radius:0; background-color:#CCCCCC; background-image: linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%); background-image: -o-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%); background-image: -moz-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%); background-image: -webkit-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%); background-image: -ms-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.42, #EEEEEE), color-stop(0.71, #CCCCCC) );  }
.eventsCalendar-daysList.showDayNames.showAsWeek {  border-radius:5px 5px 0 0; }
.eventsCalendar-daysList:before, .eventsCalendar-daysList:after { content:""; display:table; }
.eventsCalendar-daysList:after { clear: both; }
.eventsCalendar-day-header { text-transform:lowercase; text-align:center; font-size:10px; border-bottom:solid 1px #BCBCBC; }
.eventsCalendar-daysList.showAsWeek li { height:auto; margin:0; }
.eventsCalendar-daysList.showAsWeek li.empty { background-color: #ccc; min-height:27px; border-top: solid 1px #ccc; }
.eventsCalendar-day a { text-decoration:non e; font-size:10px; color:#424242; }
.eventsCalendar-day { border-left:solid 1px #BCBCBC; }
.eventsCalendar-day a  { border:solid 1px #BCBCBC; border-width:0 1px 1px 0; }
.showAsWeek .eventsCalendar-day { border-left-width:0;}
.showAsWeek .eventsCalendar-day a  { border:solid 1px red; border-color:#fff #BCBCBC #BCBCBC #eee; line-height:27px; font-size:11px;  }
.eventsCalendar-day a:hover { background-color:#E4E4E4; /*	box-shadow:inset 5px 5px 10px #C1C1C1; text-shadow: 2px 2px 2px #C1C1C1;*/ }
.eventsCalendar-daysList li.today a { color:#fff; background:#aaa; /*	box-shadow:inset 5px 5px 10px #777; text-shadow: 2px 2px 2px #777;*/ }
li.eventsCalendar-day.today a:hover { background-color:#ccc; /*box-shadow:inset 5px 5px 10px #999;*/ }
.eventsCalendar-daysList li.dayWithEvents a { background:#89B814; /*box-shadow:inset 5px 5px 10px #698B10; text-shadow: 2px 2px 2px #698B10;*/ color:#fff; }
li.eventsCalendar-day.dayWithEvents a:hover { background-color:#C2D374; /*box-shadow:inset 5px 5px 10px #89B814; text-shadow: 2px 2px 2px #89B814;*/ }
.eventsCalendar-daysList li.current a { color:#fff; background:#449FB2; box-shadow:inset 5px 5px 10px #216B7A; text-shadow: 2px 2px 2px #216B7A; }
li.eventsCalendar-day.current a:hover { background-color:#79BDCC; box-shadow:inset 5px 5px 10px #449FB2; text-shadow: 2px 2px 2px #449FB2; }
.eventsCalendar-loading { border-radius:4px; margin:5px auto; padding:0 10px; background-color:#ccc; color:#fff; text-align:center; font-weight:bold; box-shadow:0 0 10px #ccc; text-shadow:0 0 3px #aaa; position:absolute; z-index:4; top:25px; left:5px; }
.eventsCalendar-loading.error { background-color:red; }
.eventsCalendar-subtitle { padding-top:10px;}
.eventsCalendar-list-wrap { min-height:100px; position:relative; }
.eventsCalendar-list-content.scrollable {  height:100px; overflow-y:auto; margin:0 5px 5px 0; }
.eventsCalendar-list { margin:0; padding:0; list-style-type:none; }
.eventsCalendar-list li { padding:0 5px 15px; margin:0; clear:both; }
.eventsCalendar-list li time { font-size:10px; line-height:13px; }
.eventsCalendar-list li time em { float:left; font-style:normal; }
.eventsCalendar-list li time small { font-size:10px; float:left; background-color:#807E7E; color:#fff; padding:0 5px 0 4px; margin:0 0 0 3px; }
.eventsCalendar-list li .eventTitle { display:block; clear:both;  font-weight:bold; text-decoration:none; }
.eventsCalendar-list li a.eventTitle { color:#0E8EAB; }
.eventsCalendar-list li a.eventTitle:hover { text-decoration:underline;}
.eventsCalendar-list li .eventDesc { clear: both; margin:0 0 5px 0; font-size:80%; line-height:1.2em;  }
.eventsCalendar-list .eventsCalendar-noEvents { font-size:120%; border-radius:4px; margin:5px; padding:5px;  background-color:#ccc; color:#fff; text-align:center; font-weight:bold; box-shadow:0 0 10px #ccc; text-shadow:0 0 3px #aaa; }
.bt { font-size:12px; display:block; clear:both; text-align: center; margin-top:10px; padding: 9px 34px 11px; text-decoration: none; font-weight: bold; line-height: 1;  color: #ffffff; background-color: #698B10; background-repeat: repeat-x;  background-image: -khtml-gradient(linear, left top, left bottom, from(#89B814), to(#698B10)); background-image: -moz-linear-gradient(top, #89B814, #698B10); background-image: -ms-linear-gradient(top, #89B814, #698B10); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89B814), color-stop(100%, #698B10)); background-image: -webkit-linear-gradient(top, #89B814, #698B10); background-image: -o-linear-gradient(top, #89B814, #698B10); background-image: linear-gradient(top, #89B814, #698B10); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89B814', endColorstr='#698B10', GradientType=0);  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  border: 1px solid #698B10; border-color: #698B10 #698B10 #465F05;  border-radius: 4px;  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);  -webkit-transition: 0.1s linear all; -moz-transition: 0.1s linear all; -ms-transition: 0.1s linear all; -o-transition: 0.1s linear all; transition: 0.1s linear all; }
.bt:hover { background-position: 0 -15px; text-decoration: none; }    

/* lightbox */
body:after { content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png); display: none; }
.lightboxOverlay { position: absolute; top: 0; left: 0; z-index: 9999; background-color: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; display: none; }
.lightbox { position: absolute; left: 0; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; }
.lightbox .lb-image { display: block; height: auto; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.lightbox a img { border: none; }
.lb-outerContainer { position: relative; background-color: white; *zoom: 1; width: 250px; height: 250px; margin: 0 auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
/* ./../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after { content: ""; display: table; clear: both; }
.lb-container { padding: 4px; }
.lb-loader { position: absolute; top: 43%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }

.lb-cancel { display: block; width: 32px; height: 32px; margin: 0 auto; background: url(../images/loading.gif) no-repeat; }
.lb-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
.lb-container > .nav { left: 0; }
.lb-nav a { outline: none; }
.lb-prev, .lb-next { width: 49%; height: 100%; cursor: pointer;display: block; }
.lb-prev { left: 0; float: left; }
.lb-prev:hover { background: url(../images/prev.png) left 48% no-repeat; }
.lb-next { right: 0; float: right; }
.lb-next:hover { background: url(../images/next.png) right 48% no-repeat; }
.lb-dataContainer { margin: 0 auto; padding-top: 5px; *zoom: 1; width: 100%; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.lb-dataContainer:after { content: ""; display: table; clear: both; }
.lb-data { padding: 0 4px; color: #bbbbbb; }
.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }
.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }
.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: #999999; }
.lb-data .lb-close { display: block; float: right; width: 30px; height: 30px; background: url(../images/close.png) top right no-repeat; text-align: right; outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.lb-data .lb-close:hover { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }



/* Banners Footer */
div.scrollWrapper { position: relative; overflow: hidden; width: 100%; height: 100%; }
div.scrollableArea { position: relative; width: auto; height: 100%; }
#baners_scrolls { width: 100%; height: 95px; position: relative; border-top:solid 1px #eee;border-bottom:solid 1px #eee; margin: 10px 0; padding:10px 0}
#baners_scrolls div.scrollableArea a { display: block; float: left; padding-left: 20px;height: 75px; }
#baners_scrolls img{max-height:75px}

footer { background-color: #f5f5f5; border-top: 1px solid #ddd; padding-top: 40px; }
